__pycache__/
*.pyc
csim_cpp
trans-driver32
trans-driver64
evaluate
mlp_original
mlp_improved
output/
logs/
.csim_results
.marker
*full.trace
*trans32.trace
*trans64.trace
hitf32
hitf64
ans.txt
out.txt
.env
.env.*
